{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>This is the About page</h1>
      <p>XD XD XD XD XD</p>

      <p>This came from template: {{index .StringMap "test"}}</p>
    </div>
  </div>
</div>
{{ end }}
