{{template "base" .}}

{{define "content"}}
<div class="bg-gray-50 flex justify-center items-center">
  <div class="w-full max-w-2xl text-center p-6">
    <!-- Profile Illustration -->
    <div class="flex justify-center">
      <img src="/static/images/computer-man.png" alt="images" class="w-64 h-64"/>
    </div>

    <!-- Name & Description -->
    <h1 class="text-2xl font-semibold ">Jeremmy Arby</h1>
    <p class="text-gray-600 text-lg">
      Saya seseorang yang berkarir sebagai IT Support Specialist  <br />
      Saya memiliki passion dibidang IT dan ketertarikan belajar seputar IT.
    </p>

    <!-- Buttons -->
    <div class="flex justify-center gap-8 mt-6">
      <button class="bg-sky-300 px-6 py-2 rounded-md shadow-[4px_4px_0px_#222] font-medium transition-all duration-150 active:shadow-[2px_2px_0px_#222] active:translate-y-0 border border-black">
        <a href="/myblog">My Blog</a>
      </button>
      <button class="bg-amber-400 px-6 py-2 rounded-md shadow-[4px_4px_0px_#222] font-medium transition-all duration-150 active:shadow-[2px_2px_0px_#222] active:translate-y-0 border border-black">
        <a href="/contact">Contact</a>
      </button>
    </div>

    <!-- Big Card -->
    <div class="mt-8 bg-emerald-50 rounded-xl shadow-[10px_10px_0px_#222] h-9/10 w-full border border-black">
      <p class="text-xl text-left px-6 py-6 font-serif items-center flex justify-between">
        Website ini saya bangun dengan Golang untuk backend dan templating, serta Tailwind CSS untuk desain yang simpel dan responsif. 
        <img src="/static/images/go-svgrepo-com.svg" alt="" width="120" height="120">
      </p>
      <p class="text-xl text-left px-6 py-6 font-serif items-center flex justify-between">
        Saya deploy di VPS Ubuntu menggunakan Docker dan Nginx sebagai reverse proxy. 
        <img src="/static/images/docker-svgrepo-com.svg" alt="" width="120" height="120">
      </p>
      <p class="text-xl text-left px-6 py-6 font-serif items-center flex justify-between">
        Website ini juga sudah dilengkapi dengan SSL (Certbot) sehingga aman diakses dengan HTTPS.
        <img src="/static/images/browser-certificate-ssl-svgrepo-com.svg" alt="" width="120" height="120">
      </p>
    </div>

    <div class="py-3"></div>

    <div class="mt-8 bg-red-100 rounded-xl shadow-[10px_10px_0px_#222] h-9/10 w-full border border-black">
      <p class="text-xl text-left px-6 py-6 font-serif">
        🚀 Pengalaman Project Terakhir Saya
        <br><br>
        🔧 n8n Automation
        Saya pernah membangun workflow otomatisasi menggunakan n8n. Dari sana saya belajar bagaimana menghubungkan berbagai layanan tanpa harus ngoding terlalu banyak, tapi tetap powerful.
        <br><img src="/static/images/illu1.png" alt="" class="w-3/5 mx-auto">
        🖥️ RustDesk Self-Host
        Kemudian saya mencoba RustDesk untuk remote desktop. Saya pasang di server pribadi, konfigurasi agar aman, dan berhasil membuat akses jarak jauh ke komputer jadi lebih praktis.
        <br><img src="/static/images/illu3.png" alt="" class="w-3/5 mx-auto">
        🌐 Nginx + SSL
        Terakhir, saya men-setup Nginx dengan SSL di VPS pribadi. Awalnya cukup menantang, tapi akhirnya berhasil membuat website saya bisa diakses dengan https yang aman dan terlihat lebih profesional.
        <br><img src="/static/images/illu2.png" alt="" class="w-3/5 mx-auto">
      </p>
    </div>

    <div class="py-3"></div>

    <div class="flex flex-col md:flex-row justify-center gap-12 mt-6">
      <button class="bg-amber-400 px-24 py-2 rounded-md shadow-[4px_4px_0px_#222] font-medium transition-all duration-150 active:shadow-[2px_2px_0px_#222] active:translate-y-0 border border-black">
        <a href=".">Home</a>
      </button>
      <button class="bg-sky-300 px-24 py-2 rounded-md shadow-[4px_4px_0px_#222] font-medium transition-all duration-150 active:shadow-[2px_2px_0px_#222] active:translate-y-0 border border-black">
        <a href="/about">About</a>
      </button>
    </div>

  </div>
</div>

{{ end }}
